*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  scrollbar-color:6247aa;
  user-select: none;
  
  
}
  body{
    color: #fff;
    background-color:#D3C5E5;
   
  }
  /* body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgb(17, 214, 155);
    outline: 1px solid slategrey;
  } */